@model LechTyper.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Zmiana hasła</legend>
        <table class="table table-striped table-hover" style="width:40%">
            <tr>
                <td>@Html.LabelFor(m => m.OldPassword)</td>
                <td>@Html.PasswordFor(m => m.OldPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.NewPassword)</td>
                <td>@Html.PasswordFor(m => m.NewPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
            </tr>
        </table>
        <input class="btn btn-default" type="submit" value="Zmień hasło" />
    </fieldset>
}