@using LechTyper.Resources
@model LechTyper.Models.LocalPasswordModel
<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ResourceMain.PasswordChange</h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<div class="row">
    <div class="span6">
        @using (Html.BeginForm("Manage", "Account"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <form>
                <fieldset>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "input-xxlarge", @placeholder = ResourceMain.PasswordOld })<br>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "input-xxlarge", @placeholder = ResourceMain.PasswordNew })<br>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-xxlarge", @placeholder = ResourceMain.ConfirmPassword })<br>
                    <button type="submit" class="btn btn-primary">@ResourceMain.PasswordChange</button>
                </fieldset>
            </form>
        }
    </div>
</div>
<div class="hr-divider"></div>