@model LechTyper.Models.LocalPasswordModel

<p>
    Nie masz jeszcze ustawionego hasła.
    Dodaj hasło i adres mail byś mógł korzystać z serwisu bez użycia zewnętrznego logowania.
</p>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Ustaw hasło</legend>
        <table class="table table-striped table-hover" style="width:40%">
            <tr>
                <td>@Html.LabelFor(m => m.NewPassword)</td>
                <td>@Html.PasswordFor(m => m.NewPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
            </tr>
        </table>
        <input class="btn btn-default" type="submit" value="Ustaw hasło" />
    </fieldset>
}