@using LechTyper.Resources
@model LechTyper.Models.RegisterExternalLoginModel
<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ResourceMain.Registration</h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<div class="row">
    <div class="span10">
        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form>
                <fieldset>
                    <legend>@ResourceMain.AccountLocalCreate</legend>
                    <p>
                        @ResourceMain.VerificationSuccess @ResourceMain.Hello <strong>@ViewBag.ProviderDisplayName</strong>!
                        @ResourceMain.VerificationMessage
                    </p>
                    @Html.HiddenFor(m => m.ExternalLoginData)
                    <br />
                    @Html.LabelFor(m => m.UserName)
                    <br />

                    @Model.UserName
                    @if (ViewBag.ProviderDisplayName == "Twitter")
                    {
                        @Html.PasswordFor(m => m.UserMail, new { @class = "input-xxlarge", @placeholder = ResourceMain.Mail })<br>
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.UserMail)
                    }

                    <button type="submit" class="btn btn-primary">@ResourceMain.LogIn</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="hr-divider"></div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

