@using LechTyper.Resources
@model LechTyper.Models.LoginModel
<div class="row">
    <div class="span6">
        <section class="social" id="socialLoginForm">
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    <div class="span6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form>
                <fieldset>
                    <legend>@ResourceMain.LoginInformation</legend>
                    @Html.TextBoxFor(m => m.UserName, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.Nickname })<br>
                    @Html.ValidationMessageFor(m => m.UserName)<br>
                    @Html.TextBoxFor(m => m.Password, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.Password })<br>
                    @Html.ValidationMessageFor(m => m.Password)<br>
                    <button type="submit" class="btn btn-primary">@ResourceMain.Save</button>
                </fieldset>
            </form>
        }
        <p>
            @Html.ActionLink(@ResourceMain.PasswordForgot, "LostPassword", null, new { @class = "text-warning" })
        </p>
    </div>
</div>
<div class="hr-divider"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}