@using LechTyper.Resources
@model LechTyper.Models.LostPasswordModel
<h1>@ResourceMain.AccountRetrive</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <table class="table table-striped table-hover" style="width:40%">
            <tr>
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>@Html.TextBoxFor(m => m.Email)</td>
            </tr>
        </table>
        <input class="btn btn-default" type="submit" value=@ResourceMain.AccountRetrive />
    </fieldset>
    <p class="text-success">@ViewBag.MailSent</p>
}