@using LechTyper.Resources
@model LechTyper.Models.LostPasswordModel
<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ResourceMain.AccountRetrive</h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<div class="row">
    <div class="span6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <form>
                <fieldset>
                    @Html.PasswordFor(m => m.Email, new { @class = "input-xxlarge", @placeholder = ResourceMain.Mail })<br>
                    <button type="submit" class="btn btn-primary">@ResourceMain.AccountRetrive</button>
                </fieldset>
            </form>
            <p class="text-success">@ViewBag.MailSent</p>
        }
    </div>
</div>
<div class="hr-divider"></div>