@model InstaScore.Models.LostPasswordModel
@{
    ViewBag.Title = "Odzyskiwanie konta";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>Odzyskiwanie konta</legend>
        <table class="table table-striped table-hover" style="width:40%">
            <tr>
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>@Html.TextBoxFor(m => m.Email)</td>
            </tr>
        </table>
        <input class="btn btn-default" type="submit" value="Oddzyskaj konto" />
    </fieldset>
    <p class="text-success">@ViewBag.MailSent</p>
}