@using LechTyper.Resources
@model LechTyper.Models.LocalPasswordModel
<hgroup class="title">
    <h1>@ResourceMain.UserAccountManage</h1>
</hgroup>
<p class="message-success">@ViewBag.StatusMessage</p>
<div>
    @ResourceMain.UserCurrentlyLoged <strong>@User.Identity.Name</strong>.

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }


    <section id="externalLogins">
        @Html.Action("RemoveExternalLogins")

    </section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>