@using LechTyper.Resources

  <!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>
                @ResourceMain.AboutMe
            </h1>
        </div>
    </div>
</div>
  <!-- /. PAGE TITLE-->
<div class="row">
    <div class="span12">
        <img class="pull-left" alt="" src="~/Content/img/img2.png" />
        <p>
            @ResourceMain.AboutMeDesc
           </p>
    </div>
</div>
<div class="hr-divider"></div>
<div class="row">
    <div class="span12">
        <h2>@ResourceMain.Contact</h2>
        <ul class="thumbnails">
            <li class="span4">
                <div class="thumbnail">
                    <img alt="" src="~/Content/img/team1.jpg" />
                    <div class="caption">
                        <strong>@ResourceMain.ContactSocial</strong>
                            <p><a href="facebook.com/laionik">@ResourceMain.Facebook</a></p>
                            <p><a href="twitter.com/laionik">@ResourceMain.Twitter</a></p>
                    </div>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <img alt="" src="~/Content/img/team1.jpg" />
                    <div class="caption">
                        <strong>@ResourceMain.ContactEmail</strong>
                        <p><a href="mailto:lukasz.sosinski4@gmail.com">@ResourceMain.Email</a></p>
                    </div>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <img alt="" src="~/Content/img/team1.jpg" />
                    <div class="caption">
                        <strong>@ResourceMain.ContactPortfolio</strong>
                        <p><a href="github.com/Laionik">@ResourceMain.GitHub</a></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="span12">
        <h2>@ResourceMain.AboutMeOtherProject</h2>
        <ul class="thumbnails">
            <li class="span4">
                <div class="thumbnail">
                    <img alt="" src="~/Content/img/team1.jpg" />
                    <div class="caption">
                        <strong>@ResourceMain.AboutMeFanatic</strong>
                        <p>
                          @ResourceMain.AboutMeFanaticDesc
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="hr-divider"></div>
