@model LechTyper.Models.League

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>League</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.points)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.points)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.matches)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matches)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.goalScored)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.goalScored)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.goalConceded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.goalConceded)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.win)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.win)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.draw)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.draw)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lose)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lose)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.division)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.division)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
