@using LechTyper.Resources
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>@ResourceMain.Tittle</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/Site.css")
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a href='@Url.Action("Index", "Home")' class="navbar-brand" title="@ResourceMain.MainPage">
                        #LechTyper
                    </a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(@ResourceMain.Twitter, "Twitter", "Twitter")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@ResourceMain.Fixture<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink(@ResourceMain.Ekstraklasa, "FixtureTME", "Match")</li>
                                <li>@Html.ActionLink(@ResourceMain.PolishCup, "FixturePP", "Match")</li>
                                <li>@Html.ActionLink(@ResourceMain.PolishSupercup, "FixtureSP", "Match")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink(@ResourceMain.ChampionsLeague, "FixtureLM", "Match")</li>
                                <li>@Html.ActionLink(@ResourceMain.EuropaLeague, "FixtureLE", "Match")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Test - update Ekstraklasa", "UpdateCompetition", "Match", new { competition = "Ekstraklasa" }, null)</li>
                        <li>@Html.ActionLink("Test - update PP", "UpdateCompetition", "Match", new { competition = "PolishCup" }, null)</li>
                        <li>@Html.ActionLink("Test - update SP", "UpdateCompetition", "Match", new { competition = "Supercup" }, null)</li>
                        <li>@Html.ActionLink("Test - update LM", "UpdateCompetition", "Match", new { competition = "ChampionsLeague" }, null)</li>
                        <li>@Html.ActionLink("Test - update LE", "UpdateCompetition", "Match", new { competition = "EuropaLeague" }, null)</li>

                        @if (User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink(@ResourceMain.AdminPanel, "Admin", "Admin")</li>
                        }
                    </ul>   
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                </div>
            </div>
        </div>

        <div class="bs-docs-section clearfix">
            <div class="row">
                <div class="col-lg-12">
                    @RenderSection("featured", required: false)
                    <section>
                        @RenderBody()
                    </section>
                </div>
            </div>
        </div>



        <br /><br /><br /><br />
        <footer>
            <div class="row">
                <div class="col-lg-12">

                    <ul class="list-inline">
                        <li class="pull-right"><a href="#top">Do góry</a></li>
                        <li><a href="https://twitter.com/laionik">Twitter</a></li>
                        <li><a href="https://github.com/laionik">GitHub</a></li>
                    </ul>
                    <p>
                        <ul class="list-inline">
                            <li>@DateTime.Now.Year - LechTyper</li>
                            <li class="pull-right">@Html.ActionLink(@ResourceMain.Contact, "Contact", "Home")</li>
                            <li class="pull-right">@Html.ActionLink(@ResourceMain.AboutMe, "About", "Home")</li>
                            <li class="pull-right">@Html.ActionLink(@ResourceMain.MainPage, "Index", "Home")</li>
                        </ul>
                    </p>
                </div>
            </div>

        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>