<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/bootstrapcss")
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    @*<div class="navbar navbar-default navbar-fixed-top">*@
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    @*<a href='@Url.Action("Index", "Home")' class="navbar-brand">
                        <img src='@Url.Content("~/Images/logo.png")' style="width:8%; height:auto;"> #LechTyper
                    </a>*@
                    <a href='@Url.Action("Index", "Home")' class="navbar-brand">
                        #LechTyper
                    </a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Twitter", "Twitter", "Twitter")</li>
                        <li>@Html.ActionLink("Mecze", "Fixture", "Match")</li>
                        <li>@Html.ActionLink("HTML", "FixtureHTML", "Match")</li>
                        
                        @if (User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Panel administracyjny", "Admin", "Admin")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                </div>
            </div>
        </div>

        <div class="bs-docs-section clearfix">
            <div class="row">
                <div class="col-lg-12">
                    @RenderSection("featured", required: false)
                    <section>
                        @RenderBody()
                    </section>
                </div>
            </div>
        </div>



        <br /><br /><br /><br />
        <footer>
            <div class="row">
                <div class="col-lg-12">

                    <ul class="list-inline">
                        <li class="pull-right"><a href="#top">Do góry</a></li>
                        <li><a href="https://twitter.com/laionik">Twitter</a></li>
                        <li><a href="https://github.com/laionik">GitHub</a></li>
                    </ul>
                    <p>
                        <ul class="list-inline">
                            <li>@DateTime.Now.Year - LechTyper</li>
                            <li class="pull-right">@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                            <li class="pull-right">@Html.ActionLink("O mnie", "About", "Home")</li>
                            <li class="pull-right">@Html.ActionLink("Strona główna", "Index", "Home")</li>
                        </ul>
                    </p>
                </div>
            </div>

        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>