@model LechTyper.Models.Fixture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Fixture</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.matchDay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matchDay)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.homeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.homeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.guestId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.guestId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.homeGoal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.homeGoal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.guestGoal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.guestGoal)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
