@model IEnumerable<LechTyper.Models.Fixture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.matchDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.guestId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homeGoal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.guestGoal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.matchDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.guestId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homeGoal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.guestGoal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
