@using LechTyper.Resources
@model List<LechTyper.Models.Fixture>

<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ViewBag.MatchDay. @ResourceMain.MatchDay</h1>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<div class="row">
    <div class="span12 table_container">
        <table class="matches_tab">
            <thead>
                <tr class="default">
                    <th></th>
                    <th>@ResourceMain.MatchHome</th>
                    <th>@ResourceMain.MatchGuest</th>
                    <th>@ResourceMain.Result</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fixture in Model)
                {
                    <tr class="notfirst">
                        <td>@(Model.IndexOf(fixture) + 1)</td>
                        <td>@ViewBag.userNameDictionary[fixture.homeId]</td>
                        <td>@ViewBag.userNameDictionary[fixture.guestId]</td>
                        <td>@fixture.homeGoal:@fixture.guestGoal</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="hr-divider"></div>