@using LechTyper.Resources
<hgroup class="title">
    <h1>@ResourceMain.AdminPanel</h1>
</hgroup>

<section class="panel">
    <p>
        @ResourceMain.Hello <b>@User.Identity.Name</b>. @ResourceMain.AdminWelcome
    </p>
    <ul id="list-group">
        @{
            <li class="list-group-item">@Html.ActionLink(@ResourceMain.UserManage, "UserIndex", "Admin")</li>
            <li class="list-group-item">@Html.ActionLink(@ResourceMain.RoleCreate, "RoleIndex", "Admin")</li>
            <li class="list-group-item">@Html.ActionLink(@ResourceMain.MatchManage, "MatchIndex", "Admin")</li>
            <li class="list-group-item">@Html.ActionLink(@ResourceMain.PredictionManage, "TwittIndex", "Admin")</li>       
        }
    </ul>
    <p>
        @ResourceMain.Update
    </p>
    <ul id="list-group">
        <li class="list-group-item">@Html.ActionLink(@ResourceMain.Ekstraklasa, "UpdateCompetition", "Match", new { competition = "Ekstraklasa" }, null)</li>
        <li class ="list-group-item">@Html.ActionLink(@ResourceMain.PolishCup, "UpdateCompetition", "Match", new { competition = "PolishCup" }, null)</li>
        <li class="list-group-item">@Html.ActionLink(@ResourceMain.ChampionsLeague, "UpdateCompetition", "Match", new { competition = "Supercup" }, null)</li>
        <li class="list-group-item">@Html.ActionLink(@ResourceMain.EuropaLeague, "UpdateCompetition", "Match", new { competition = "ChampionsLeague" }, null)</li>
        <li class="list-group-item">@Html.ActionLink(@ResourceMain.PolishSupercup, "UpdateCompetition", "Match", new { competition = "EuropaLeague" }, null)</li>
        <li class="list-group-item">@Html.ActionLink(@ResourceMain.LeagueUserUpdate, "LeagueAddUsers", "League")</li>
    </ul>
</section>
