@using LechTyper.Resources
<hgroup class="title">
    <h1>@ResourceMain.AdminPanel</h1>
</hgroup>

<section class="panel">
    <p>
        @ResourceMain.Hello <b>@User.Identity.Name</b>. @ResourceMain.AdminWelcome
    </p>
    <ul id="list-group">
        @{
            <li class="list-group-item">@Html.ActionLink(@ResourceMain.UserManage, "UserIndex", "Admin")</li>
            <li class="list-group-item">@Html.ActionLink(@ResourceMain.RoleCreate, "RoleIndex", "Admin")</li>
            <li class="list-group-item">@Html.ActionLink(@ResourceMain.MatchManage, "MatchIndex", "Admin")</li>
            <li class="list-group-item">@Html.ActionLink(@ResourceMain.PredictionManage, "TwittIndex", "Admin")</li>       
        }
    </ul>

    <p>
        @ResourceMain.Update
    </p>
    <ul id="list-group">
        <li class="list-group-item">@Html.ActionLink(@ResourceMain.Ekstraklasa, "UpdateEkstraklasa", "Match")</li>
        <li class ="list-group-item">@Html.ActionLink(@ResourceMain.PolishCup, "UpdatePP", "Match")</li>
        <li class="list-group-item">@Html.ActionLink(@ResourceMain.ChampionsLeague, "UpdateLM", "Match")</li>
        <li class="list-group-item">@Html.ActionLink(@ResourceMain.EuropaLeague, "UpdateLE", "Match")</li>
        <li class="list-group-item">@Html.ActionLink(@ResourceMain.PolishSupercup, "UpdateSP", "Match")</li>
        <li class="list-group-item">@Html.ActionLink(@ResourceMain.LeagueUserUpdate, "LeagueAddUsers", "League")</li>
    </ul>
</section>
