@using LechTyper.Resources
@model LechTyper.Models.Match
<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ResourceMain.Editing @Model.host @ResourceMain.MatchVs @Model.guest</h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<div class="row">
    <div class="span6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form>
                <fieldset>
                    @Html.HiddenFor(m => m.id)
                    @Html.TextBoxFor(m => m.date, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.Date })<br>
                    @Html.TextBoxFor(m => m.competition, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.MatchCompetition})<br>
                    @Html.TextBoxFor(m => m.host, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.MatchHome })<br>
                    @Html.TextBoxFor(m => m.guest, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.MatchGuest })<br>
                    @Html.TextBoxFor(m => m.finalHostGoal, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.MatchHomeGoal})<br>
                    @Html.TextBoxFor(m => m.finalGuestGoal, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.MatchGuestGoal })<br>
                    @Html.TextBoxFor(m => m.halfHostGoal, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.MatchHomeHalfGoal })<br>
                    @Html.TextBoxFor(m => m.halfGuestGoal, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.MatchGuestHalfGoal})<br>
                    @Html.TextBoxFor(m => m.isCompleted, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.MatchPlayed })<br>
                    <button type="submit" class="btn btn-primary">@ResourceMain.Save</button>
                </fieldset>
            </form>
        }
    </div>
</div>
<div class="hr-divider"></div>