@using LechTyper.Resources
@model IPagedList<LechTyper.Models.Match>
<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ResourceMain.MatchManage</h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<div class="row">
    <div class="span12 table_container">
        <table class="matches_tab">
            <thead>
                <tr class="default">
                    <th>@ResourceMain.Date</th>
                    <th>@ResourceMain.MatchCompetition</th>
                    <th>@ResourceMain.MatchHome</th>
                    <th>@ResourceMain.MatchGuest</th>
                    <th>@ResourceMain.MatchResult</th>
                    <th>@ResourceMain.MatchHalf</th>
                    <th>@ResourceMain.MatchPlayed</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var match in Model)
                {
                    string iscompleted = match.isCompleted ? @ResourceMain.Yes : @ResourceMain.No;
                    <tr class="notfirst">
                        <td>@match.date</td>
                        <td>@match.competition</td>
                        <td>@match.host</td>
                        <td>@match.guest</td>
                        <td>@match.finalHostGoal:@match.finalGuestGoal</td>
                        <td>@match.halfHostGoal:@match.halfGuestGoal</td>
                        <td>@iscompleted</td>
                        <td>@Html.ActionLink(@ResourceMain.Edit, "MatchEdit", new { matchId = match.id, page = Model.PageNumber })</td>
                        <td>@Html.ActionLink(@ResourceMain.Delete, "MatchDelete", new { matchId  = match.id, page = Model.PageNumber })</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="pager">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
            .DisplayTemplate("BootstrapPagination"))
        </div>
    </div>
</div>
<div class="hr-divider"></div>