@model LechTyper.Models.Odd
@{
    ViewBag.Title = "Dodawanie kursów";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<section class="panel">
    <p>
        @Html.ActionLink("Powrót", "OddIndex")
    </p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Zaloguj się</legend>
            <table class="table table-striped table-hover" style="width:60%">
                @Html.HiddenFor(m => m.OddID)
                <tr>
                    <td> @Html.LabelFor(m => m.MatchID)</td>
                    <td> @Html.TextBoxFor(m => m.MatchID)</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(m => m.odd_1)</td>
                    <td> @Html.TextBoxFor(m => m.odd_1)</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(m => m.odd_x)</td>
                    <td> @Html.TextBoxFor(m => m.odd_x)</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(m => m.odd_2)</td>
                    <td> @Html.TextBoxFor(m => m.odd_2)</td>
                </tr>
            </table>
            <br />
            <input class="btn btn-default" type="submit" value="Zapisz" />
        </fieldset>
    }
    <br /><br />
    <p class="text-info">
        Mecze bez kursów
    </p>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Rozgrywki</th>
                <th>Gospodarz</th>
                <th>Gość</th>
            </tr>
        </thead>
        <tbody>
            @{
                List<LechTyper.Models.Odd> Oddslist = ViewBag.Odds;
                foreach (var game in ViewBag.Games)
                {
                    var x = Oddslist.Find(a => a.MatchID == game.MatchID);
                    if (!game.isCompleted && x == null)
                    {
                        <tr>
                            <td>@game.MatchID</td>
                            <td>@game.date</td>
                            <td>@game.Competition</td>
                            <td>@game.Host</td>
                            <td>@game.Guest</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</section>



@*@model Tuple<LechTyper.Models.Odd, List<LechTyper.Models.Game>>
    @{
        ViewBag.Title = "Dodawanie kursów";
    }
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <section class="panel">
        <p>
            @Html.ActionLink("Panel admina", "Admin")
        </p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Zaloguj się</legend>
                <table class="table table-striped table-hover" style="width:60%">
                    @Html.HiddenFor(m => m.Item1.OddID)
                    <tr>
                        <td> @Html.LabelFor(m => m.Item1.MatchID)</td>
                        <td> @Html.TextBoxFor(m => m.Item1.MatchID)</td>
                    </tr>
                    <tr>
                        <td> @Html.LabelFor(m => m.Item1.odd_1)</td>
                        <td> @Html.TextBoxFor(m => m.Item1.odd_1)</td>
                    </tr>
                    <tr>
                        <td> @Html.LabelFor(m => m.Item1.odd_x)</td>
                        <td> @Html.TextBoxFor(m => m.Item1.odd_x)</td>
                    </tr>
                    <tr>
                        <td> @Html.LabelFor(m => m.Item1.odd_2)</td>
                        <td> @Html.TextBoxFor(m => m.Item1.odd_2)</td>
                    </tr>
                </table>
                <br />
                <input class="btn btn-default" type="submit" value="Zapisz" />
            </fieldset>
        }

        <p class="text-info">
            Mecze bez kursów
        </p>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data</th>
                        <th>Rozgrywki</th>
                        <th>Gospodarz</th>
                        <th>Gość</th>
                    </tr>
                </thead>
                <tbody>
                    @{  foreach (var game in Model.Item2)
                      {
                          if (!game.isCompleted)
                          {
                            <tr>
                                <td>@game.MatchID</td>
                                <td>@game.date</td>
                                <td>@game.Competition</td>
                                <td>@game.Host</td>
                                <td>@game.Guest</td>
                            </tr>
                          }
                      }
                    }
                </tbody>
            </table>
    </section>*@