@using LechTyper.Resources
@model LechTyper.Models.ResetPasswordModel

<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ResourceMain.PasswordReset</h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<div class="row">
    <div class="span6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form>
                <fieldset>
                    @Html.TextBoxFor(m => m.Password, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.Password })<br>
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.ConfirmPassword })<br>
                    <button type="submit" class="btn btn-primary">@ResourceMain.Reset</button>
                </fieldset>
            </form>
        }
    </div>
</div>
<div class="hr-divider"></div>