@using LechTyper.Resources
<hgroup class="title">
    <h1>@ResourceMain.Roles</h1>
</hgroup>

<section class="panel">
    <p>
        @Html.ActionLink(@ResourceMain.RoleCreate, "RoleCreate") | @Html.ActionLink(@ResourceMain.RoleAddToUser, "RoleAddToUser") | @Html.ActionLink(@ResourceMain.AdminPanel, "Admin")
    </p>
    <table class="table table-striped table-hover ">
        @foreach (string s in Model)
        {
            <tr>
                <td>
                    @s

                </td>
                <td>
                    <span onclick="return confirm(@ResourceMain.SureDelete)">
                        <a href="/Admin/RoleDelete?RoleName=@s" class="delLink"><img src="/images/deleteicon.png" alt="Usuń" class="imgBorder0" />  Usuń</a>
                    </span>
                </td>
            </tr>
        }
    </table>
</section>