@using LechTyper.Resources
<hgroup class="title">
    <h1>@ResourceMain.RoleAddToUser</h1>
</hgroup>

<section class="panel">
    <p>
        @Html.ActionLink(@ResourceMain.Return, "Admin")
    </p>

    <div class="message-success">@ViewBag.ResultMessage</div>
    <h3>@ResourceMain.RoleAddUser</h3>
    <table class="table table-striped table-hover ">
        @using (Html.BeginForm("RoleAddToUser", "Admin"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <tr>
                <td>@Html.TextBox("UserName")</td>
                <td>@Html.DropDownList("RoleName", ViewBag.Roles as SelectList)</td>
            </tr>
        }
    </table>
    <input type="submit" class="btn btn-default" value=@ResourceMain.Save />

    <h3>Usuń rolę użytkownikowi</h3>
    <table class="table table-striped table-hover ">
        @using (Html.BeginForm("DeleteRoleForUser", "Admin"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <tr>
                <td>@Html.TextBox("UserName")</td>
                <td>@Html.DropDownList("RoleName", ViewBag.Roles as SelectList)</td>
            </tr>
        }
    </table>
    <input type="submit" class="btn btn-default" value=@ResourceMain.Delete />

        <h3>Wyświetl role użytkownika</h3>
        @using (Html.BeginForm("GetRoles", "Admin"))
        {
            @Html.AntiForgeryToken()
            <p>
                @ResourceMain.Nickname: @Html.TextBox("UserName")
            </p>
    <input type="submit" value=@ResourceMain.RoleGet />
        }
        @if (ViewBag.RolesForThisUser != null)
        {
            <text>
                <h3>@ResourceMain.RoleUser</h3>
                <ol>
                    @foreach (string s in ViewBag.RolesForThisUser)
                    {
                        <li>@s</li>
                    }
                </ol>
            </text>
        }
</section>
