@using LechTyper.Resources
<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ResourceMain.RoleAddToUser</h1>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<div class="row">
    <div class="message-success">@ViewBag.ResultMessage</div>
    <div class="span6">
        <h3>@ResourceMain.RoleAddUser</h3>

        @using (Html.BeginForm("RoleAddToUser", "Admin"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form>
                <fieldset>
                    @Html.DropDownList("UserName", ViewBag.Users as SelectList, new { @class = "input-xxlarge" })<br>
                    @Html.DropDownList("RoleName", ViewBag.NotUserRoles as SelectList, new { @class = "input-xxlarge" })<br>
                    <button type="submit" class="btn btn-primary">@ResourceMain.Add</button>
                </fieldset>
            </form>
        }
    </div>
</div>
<div class="row">
    <div class="span6">
        <h3>@ResourceMain.RoleUserDelete</h3>

        @using (Html.BeginForm("DeleteRoleForUser", "Admin"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form>
                <fieldset>
                    @Html.DropDownList("UserName", ViewBag.Users as SelectList, new { @class = "input-xxlarge" })<br>
                    @Html.DropDownList("RoleName", ViewBag.UserRoles as SelectList, new { @class = "input-xxlarge" })<br>
                    <button type="submit" class="btn btn-danger">@ResourceMain.Delete</button>
                </fieldset>
            </form>
        }
    </div>
</div>
<div class="row">
    <div class="span6">
        <h3>@ResourceMain.RoleUserDisplay</h3>

        @using (Html.BeginForm("GetRoles", "Admin"))
        {
            @Html.AntiForgeryToken()
            <form>
                <fieldset>
                    @Html.DropDownList("UserName", ViewBag.Users as SelectList, new { @class = "input-xxlarge" })<br>
                    <button type="submit" class="btn btn-info">@ResourceMain.RoleGet</button>
                </fieldset>
            </form>
        }
        @if (ViewBag.RolesForThisUser != null)
        {
            <text>
                <h3>@ResourceMain.RoleUser</h3>
                <ol>
                    @foreach (string role in ViewBag.RolesForThisUser)
                    {
                        <li>@role</li>
                    }
                </ol>
            </text>
        }
    </div>
</div>
<div class="hr-divider"></div>