@using LechTyper.Resources
<hgroup class="title">
    <h1>@ResourceMain.RoleCreating</h1>
</hgroup>

<section class="panel">
    <p>
        @Html.ActionLink(@ResourceMain.Return, "Admin")
    </p>
    <table class="table table-striped table-hover ">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
    <tr>
        <td>
            <span>@ResourceMain.RoleName:</span>
        </td>
        <td>
            @Html.TextBox("RoleName")
        </td>
    </tr>

        }
    </table>
    <input type="submit" class="btn btn-default" value=@ResourceMain.Save />
</section>>


