@using LechTyper.Resources
<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ResourceMain.Roles</h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<div class="row">
   <div class="span12">
       @Html.ActionLink(@ResourceMain.RoleCreate, "RoleCreate", null, new { @class = "btn btn-primary" })          @Html.ActionLink(@ResourceMain.RoleAddToUser, "RoleAddToUser", null, new { @class = "btn btn-primary" })
   </div>
</div>
<div class="row">
    
    <div class="span4 table_container">
        <table class="matches_tab">
            <thead>
                <tr class="default">
                    <th>@ResourceMain.RoleName</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr class="notfirst">
                        <td>@role</td>
                        <td>
                            <span onclick="return confirm(@ResourceMain.SureDelete)">
                                <a href="/Admin/RoleDelete?RoleName=@role" class="delLink"><img src="/images/deleteicon.png" alt="Usuń" class="imgBorder0" />  Usuń</a>
                            </span>
                        </td>
                     </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="hr-divider"></div>