@{
    ViewBag.Title = "Tworzenie roli";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="panel">
    <p>
        @Html.ActionLink("Powrót", "Admin")
    </p>
    <table class="table table-striped table-hover ">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
    <tr>
        <td>
            Nazwa roli:
        </td>
        <td>
            @Html.TextBox("RoleName")
        </td>
    </tr>

        }
    </table>
    <input type="submit" class="btn btn-default" value="Zapisz" />
</section>>


