@using LechTyper.Resources
<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ResourceMain.RoleCreating</h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<div class="row">
    <div class="span6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form>
                <fieldset>
                    @Html.TextBox("RoleName", null, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.RoleName })<br>
                    <button type="submit" class="btn btn-primary">@ResourceMain.Save</button>
                </fieldset>
            </form>
        }
    </div>
</div>
<div class="hr-divider"></div>


