@model LechTyper.Models.Tweet
@{
    ViewBag.Title = "Edycja typów";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h3>Edytujesz wpis @Model.user_nick</h3>
</hgroup>
<section class="panel">
    <p>
        @Html.ActionLink("Panel admina", "Admin")
    </p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Zaloguj się</legend>
            <table class="table table-striped table-hover" style="width:60%">
                @Html.HiddenFor(m => m.tweetid)
                @Html.HiddenFor(m => m.post_id)
                @Html.HiddenFor(m => m.user_id)
                @Html.HiddenFor(m => m.user_name)
                @Html.HiddenFor(m => m.created_at)
                @Html.HiddenFor(m => m.user_nick)
                <tr>
                    <td> @Html.LabelFor(m => m.text)</td>
                    <td> @Html.TextBoxFor(m => m.text)</td>
                </tr>
            </table>
            <br />
            <input class="btn btn-default" type="submit" value="Zapisz" />
        </fieldset>
    }
</section>