@using LechTyper.Resources
@model LechTyper.Models.UserProfile
<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ResourceMain.Editing @Model.UserName</h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<div class="row">
    <div class="span6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form>
                <fieldset>
                    @Html.HiddenFor(m => m.UserId)
                    @Html.TextBoxFor(m => m.UserName, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.Nickname })<br>
                    @Html.TextBoxFor(m => m.UserMail, new { @type = "text", @class = "input-xxlarge", @placeholder = ResourceMain.UserMail })<br>
                    <button type="submit" class="btn btn-primary">@ResourceMain.Save</button>
                </fieldset>
            </form>
        }
    </div>
</div>
<div class="hr-divider"></div>