@using LechTyper.Resources
@model LechTyper.Models.UserProfile
<hgroup class="title">
    <h1>@</h1>
    <h3>@ResourceMain.UserEditing @Model.UserName</h3>
</hgroup>
<section class="panel">
    <p>
        @Html.ActionLink(@ResourceMain.Return, "UserIndex")
    </p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>@ResourceMain.LogIn</legend>
            <table class="table table-striped table-hover" style="width:60%">
                @Html.HiddenFor(m => m.UserId)
                <tr>
                    <td>@Html.LabelFor(m => m.UserName)</td>
                    <td>@Html.TextBoxFor(m => m.UserName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.UserMail)</td>
                    <td>@Html.TextBoxFor(m => m.UserMail)</td>
                </tr>
            </table>
            <br />
            <input class="btn btn-default" type="submit" value=@ResourceMain.Save />
        </fieldset>
    }

</section>