@using LechTyper.Resources
@model IPagedList<LechTyper.Models.UserProfile>
<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ResourceMain.UserManage</h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<div class="row">
    <div class="span12 table_container">
        <table class="matches_tab">
            <thead>
                <tr class="default">
                    <th>@ResourceMain.Id</th>
                    <th>@ResourceMain.Name</th>
                    <th>@ResourceMain.Mail</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userprofile in Model)
                {
                    <tr class="notfirst">
                        <td>@userprofile.UserId</td>
                        <td>@userprofile.UserName</td>
                        <td>@userprofile.UserMail</td>
                        <td>@Html.ActionLink(@ResourceMain.Edit, "UserEdit", new { userId = userprofile.UserId, page = Model.PageNumber })</td>
                        <td>@Html.ActionLink(@ResourceMain.Delete, "UserDelete", new { userId = userprofile.UserId, page = Model.PageNumber })</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="pager">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
            .DisplayTemplate("BootstrapPagination"))
        </div>
    </div>
</div>
<div class="hr-divider"></div>