@model LechTyper.Models.UserProfile
@{
    ViewBag.Title = "Edycja";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h3>Edytujesz @Model.UserName</h3>
</hgroup>
<section class="panel">
    <p>
        @Html.ActionLink("Powrót", "UserIndex")
    </p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Zaloguj się</legend>
            <table class="table table-striped table-hover" style="width:60%">
                @Html.HiddenFor(m => m.UserId)
                <tr>
                    <td>@Html.LabelFor(m => m.UserName)</td>
                    <td>@Html.TextBoxFor(m => m.UserName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.UserMail)</td>
                    <td>@Html.TextBoxFor(m => m.UserMail)</td>
                </tr>
            </table>
            <br />
            <input class="btn btn-default" type="submit" value="Zapisz" />
        </fieldset>
    }

</section>