@using LechTyper.Resources
@model List<LechTyper.Models.Fixture>

<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ViewBag.Title</h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<!--ROZEGRANE-->
<div class="row">
    <h2>@ResourceMain.CreateFixture</h2>
    <div class="span12 table_container">
        <table class="matches_tab">
            <thead>
                <tr class="default">
                    <th>@ResourceMain.MatchDay</th>
                    <th>@ResourceMain.MatchHome</th>
                    <th>@ResourceMain.MatchGuest</th>
                    <th>@ResourceMain.Result</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var match in Model)
                {
                    <tr class="notfirst">
                        <td>@match.matchDay</td>
                        <td>@match.homeId</td>
                        <td>@match.guestId</td>
                        <td>@match.homeGoal:@match.guestGoal</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="hr-divider"></div>