@model LechTyper.Models.Fixture

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Fixture</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.matchDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.matchDay)
            @Html.ValidationMessageFor(model => model.matchDay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.homeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.homeId)
            @Html.ValidationMessageFor(model => model.homeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.guestId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.guestId)
            @Html.ValidationMessageFor(model => model.guestId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.homeGoal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.homeGoal)
            @Html.ValidationMessageFor(model => model.homeGoal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.guestGoal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.guestGoal)
            @Html.ValidationMessageFor(model => model.guestGoal)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
