@model List<LechTyper.Models.Twitt>

<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</div>
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-5">
            <p class="bs-component">
                <h3>Dokładny wynik (Razem: @Model.Count())</h3>
                @{
                    foreach (var x in Model)
                    {
                        string link = "https://twitter.com/" + x.user_nick + "/status/" + x.post_id;
                        <span style="white-space: pre-line"><a href="@link">@x.user_nick</a></span>
                        <br />
                    }
                }
            </p>
        </div>
        <div class="col-lg-5">
            <p class="bs-component">
                @{
                    List<LechTyper.Models.Twitt> hda = ViewBag.hda;
                }
                <h3>1/x/2(Razem: @hda.Count())</h3>
                @{

                    foreach (var x in hda)
                    {
                        string link = "https://twitter.com/" + x.user_nick + "/status/" + x.post_id;
                        <span style="white-space: pre-line"><a href="@link">@x.user_nick</a></span>
                        <br />
                    }
                }
            </p>

        </div>
    </div>
</div>
