@using LechTyper.Resources
@model List<LechTyper.Models.Match>
<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ViewBag.Title</h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<!--ROZEGRANE-->
<div class="row">
    <h2>@ResourceMain.MatchesPlayed</h2>
    <div class="span12 table_container">
        <table class="matches_tab">
            <thead>
                <tr class="default">
                    <th>@ResourceMain.Date</th>
                    <th>@ResourceMain.MatchHome</th>
                    <th>@ResourceMain.MatchGuest</th>
                    <th>@ResourceMain.Result</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var match in Model)
                {
                    if (match.isCompleted)
                    {
                        <tr class="notfirst">
                            <td>@match.date.ToShortDateString()</td>
                            <td>@match.host</td>
                            <td>@match.guest</td>
                            <td>@match.finalHostGoal:@match.finalGuestGoal</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="hr-divider"></div>
<!--/. ROZEGRANE-->
<!--DO ROZEGRANIA-->
@if (Model.Any(x => !x.isCompleted))
{
    <div class="row">
        <h2>@ResourceMain.MatchesToPlay</h2>
        <div class="span12 table_container">
            <table class="matches_tab">
                <thead>
                    <tr class="default">
                        <th>@ResourceMain.Date</th>
                        <th>@ResourceMain.MatchHome</th>
                        <th>@ResourceMain.MatchGuest</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var match in Model)
                    {
                        if (!match.isCompleted)
                        {
                            <tr class="notfirst">
                                @if (match.date != DateTime.Parse("2000-01-01"))
                                {
                                    <td>
                                        @match.date.ToShortDateString()
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        Brak ustalonej daty
                                    </td>
                                }
                                <td>@match.host</td>
                                <td>@match.guest</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="hr-divider"></div>
}
<!-- /.ROZEGRANE-->
