@using LechTyper.Resources
@model List<LechTyper.Models.Match>
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</div>
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-5">
            <p class="bs-component">
                <h3>Rozegrane mecze</h3>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@ResourceMain.Date</th>
                            <th>@ResourceMain.MatchHome</th>
                            <th>@ResourceMain.MatchGuest</th>
                            <th>@ResourceMain.Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var match in Model)
                        {
                            if (match.isCompleted)
                            {
                                <tr>
                                    <td>@match.date.ToShortDateString()</td>
                                    <td>@match.host</td>
                                    <td>@match.guest</td>
                                    <td>@match.finalHostGoal:@match.finalGuestGoal</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </p>
        </div>
        @if (Model.Any(x => !x.isCompleted))
        {
        <div class="col-lg-5">
            <p class="bs-component">
                <h3>Nie rozegrane</h3>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@ResourceMain.Date</th>
                            <th>@ResourceMain.MatchHome</th>
                            <th>@ResourceMain.MatchGuest</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var match in Model)
                        {
                            if (!match.isCompleted)
                            {
                                <tr>
                                    <td>@match.date.ToShortDateString()</td>
                                    <td>@match.host</td>
                                    <td>@match.guest</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </p>
        </div>
        }
    </div>
</div>
