@using LechTyper.Resources
@model List<LechTyper.Models.League>
<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ResourceMain.LeaguePromotions</h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<!--ROZEGRANE-->
<div class="row">
    <div class="span12 table_container">
        <table class="matches_tab">
            <thead>
                <tr class="default">
                    <th>@ResourceMain.Id</th>
                    <th>@ResourceMain.Division</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model)
                {
                    <tr class="notfirst">
                        <td>@player.userId</td>
                        <td>@player.division</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="hr-divider"></div>
