@model List<Tweetinvi.Core.Interfaces.ITweet>
@{
    ViewBag.Title = "Twitter";
}
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</div>
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-10">
            <p class="bs-component">
                <h3>Wczytane wpisy (Razem: @Model.Count())</h3>
                @{
                    foreach (var x in Model)
                    {
                        //string link = "https://twitter.com/" + x.CreatedBy + "/status/" + x.post_id;
                        @*<span style="white-space: pre-line"><a href="@link">@x.Text</a></span>*@
                        <span style="white-space: pre-line">@x.Text</span>
                        <br />
                    }
                }
            </p>
        </div>
    </div>
</div>
